@charset "utf-8";
/* CSS Document */

/* skip-nav */
#skip-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -100px;
  height: 50px;
  line-height: 50px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 14px;
  z-index: 10000;
  transition: all 0.5s;
}
#skip-nav:focus {
  top: 0;
}

/* common */
#wrapper {
  min-width: 1024px;
  overflow: hidden;
}
body {
  font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', 'Dotum', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
}
