#news {
  background: #000000;
  font-size: 16px;
}
#news div.news-wrapper {
  padding: 25px 110px 0;
  width: calc(100% - 160px);
  height: 80px;
  border-bottom: 1px solid #444;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}
#news div.news-wrapper div.news-info h3 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
#news div.news-wrapper div.news-info h3 a {
  display: block;
  padding-right: 20px;
}
#news div.news-wrapper div.news-info h3 a:after {
  content: '';
  width: 9px;
  height: 15px;
  background: url(../images/sp-hmg-pc-basic-small.png) -125px 0 no-repeat;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#news div.news-wrapper div.news-info div.swiper-container {
  overflow: hidden;
  margin: 0 auto;
  height: 30px;
  width: 100%;
  line-height: 30px;
  position: relative;
}
#news div.news-wrapper div.news-info div.swiper-container:before {
  content: '';
  display: block;
  width: 1px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  opacity: 0.2;
}
#news div.news-wrapper div.news-info div.swiper-container div.swiper-wrapper {
}
#news div.news-wrapper div.news-info div.swiper-container div.swiper-wrapper > div {
  float: left;
}

div.swiper-container div.swiper-wrapper > div {
  width: 30.6vw;
  font-size: 18px;
}
div.swiper-container div.swiper-wrapper > div + div {
  margin-left: 190px;
}
div.swiper-container div.swiper-wrapper > div a {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  /* 너비가 줄어들 때 글자들이 흘러 넘치면 ...으로 보이게 한다. */
  white-space: nowrap;
  /* 너비가 줄어들 때 글자가 아래로 떨어지지 않게 한다. */
  /* overflow, text-overflow, white-space가 set */
  vertical-align: middle;
  width: calc(100% - 140px);
  line-height: 100%;
  color: #fff;
  margin-right: 20px;
  line-height: 16px;
}
div.swiper-container div.swiper-wrapper > div span.date {
  float: right;
}
#news p.control {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
#news p.control a {
  color: #fff;
  position: relative;
}
#news p.control a.btnPlay {
  display: none;
}
#news p.control a:before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  background: url(../images/main-news-ctrl.png);
}
#news p.control a.btnPrev:before {
  width: 9px;
  height: 16px;
  background-position: 0 0;
}
#news p.control a.btnPause:before {
  width: 8px;
  height: 14px;
  background-position: -21px -1px;
}
#news p.control a.btnPlay:before {
  width: 9px;
  height: 16px;
  background-position: -40px 0;
}
#news p.control a.btnNext:before {
  width: 9px;
  height: 16px;
  background-position: -57px 0;
}
#news p.control a + a {
  margin-left: 12px;
}
#news p.control {
}

@media (max-width: 1400px) {
  div.swiper-container div.swiper-wrapper > div + div {
    margin-left: 80px;
  }
  div.swiper-container div.swiper-wrapper > div {
    width: 32.7vw;
  }
}
